/*** This stylesheet is specifically used to override the main css file (head_1_3_35.css). And is to be used for customizations to specific elements. ***/

.know .jumbotron-pubpage .journal-meta
{ display: table; position: relative; height: 232px; width: 790px; }

.know .jumbotron-short .journal-meta
{ display: table; position: relative; height: 115px; width: 790px; }

input[type="submit"] {
  margin-top: 20px;
  width: auto;
  height: 32px;
  background: #155F83;
  border: 0;
  cursor: pointer;
  padding: 5px;
  color: #fff;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

table.articleEntry {
  padding-bottom: 28px;
  border-spacing: 0px;
  font-size: 12px;
  margin-bottom: 10px;
}

/* START changes by MRB to style Article Metrics widget */
div.articleMetricsContainer div.content h2 {
  display: none;
}

div.articleMetricsContainer div.content div.title {
  display: inline;
  font-weight: bold;
  padding-right: 0.5em;
}

div.articleMetricsContainer div.views div.circle {
  display: inline;
}

div.articleMetricsContainer div.views div.title:after,
div.articleMetricsContainer div.citations div.title:after {
  content:":";
}
div.articleMetricsContainer div.citations a.crossRef span {
  display: none;
}
div.articleMetricsContainer div.citations a.crossRef span.value {
  display: inline;
}            

div.articleMetricsContainer div.altmetric-container div.title {
  display: none;
}
div.articleMetricsContainer div.altmetric-container div.metrics-badge {
  padding: 1em 0;
}

div.articleMetricsContainer div.metricsAbout {
  display: none;
}
/* END changes by MRB to style Article Metrics widget */

/* UCHICAGO-1156 change for multi search widget */
.multiSearchWidget .mostRead ul li {
	margin: 10px;
}
.multiSearchWidget .mostRead .date {
	display:none;
}
