
/* ::::: https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css?ver=2 ::::: */

.freshwidget-button a:hover, .freshwidget-theme { text-decoration: none; }
.widget-ovelay { opacity: 0.5; background-color: rgb(255, 255, 255); }
.freshwidget-container, .widget-ovelay { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 90002; }
.fd-btn-left a { left: -2px; }
.fd-btn-left a:hover { left: 0px; }
.fd-btn-right { right: -2px; }
.fd-btn-right:hover { right: 0px; }
.ie8.fd-btn-right, .ie9.fd-btn-right { right: 35px; }
.ie8.fd-btn-right:hover, .ie9.fd-btn-right:hover { right: 33px; }
.fd-btn-top { top: -2px; }
.fd-btn-top:hover { top: 0px; }
.fd-btn-bottom { bottom: 0px; }
.fd-btn-bottom a { bottom: -2px; }
.fd-btn-bottom a:hover { bottom: 0px; }
.freshwidget-theme { padding: 8px 16px; background-color: rgb(1, 84, 83); color: rgb(255, 255, 255); font-size: 14px; font-weight: 700; outline: 0px none; }
.freshwidget-theme:hover { color: rgb(243, 243, 243); }
.freshwidget-customimage { overflow: visible; }
.fd-btn-right .freshwidget-customimage { right: 0px; }
.freshwidget-button { position: fixed; display: block ! important; width: 0px; height: 0px; z-index: 90000; margin: 0px; outline: 0px none; }
.freshwidget-button a { position: fixed; white-space: nowrap; outline: 0px none; }
.proxy-link { position: absolute; z-index: 10; outline: 0px none; }
.fd-btn-left a.freshwidget-theme, .fd-btn-top a.freshwidget-theme { border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px -1px 0px rgba(0, 0, 0, 0.08) inset, 0px -2px 0px rgba(255, 255, 255, 0.7) inset, 0px 9px 29px rgba(0, 0, 0, 0.1) inset; }
.fd-btn-left a.freshwidget-theme { transform: rotate(-90deg); transform-origin: left top 0px; }
.fd-btn-bottom a.freshwidget-theme, .fd-btn-right a.freshwidget-theme { border-top-left-radius: 6px; border-top-right-radius: 6px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(0, 0, 0, 0.08) inset, 0px 2px 0px rgba(255, 255, 255, 0.7) inset, 0px -9px 29px rgba(0, 0, 0, 0.1) inset; }
.fd-btn-right a.freshwidget-theme { transform: rotate(-90deg); transform-origin: left bottom 0px; }
.fd-btn-left a.ie10 {  }
.fd-btn-right a.ie10 {  }
.freshwidget-dialog { position: absolute; padding: 8px 0px; left: 50%; margin-left: -260px; top: 20px; z-index: 900010; }
.freshwidget-dialog-box-close { animation: 0.15s ease-in-out 0s normal forwards 1 running freshwidget-dialog-box-animation-close; }
.freshwidget-dialog-box { animation: 0.15s ease-in-out 0s normal forwards 1 running freshwidget-dialog-box-animation; }
.freshwidget-dialog iframe { width: 526px; height: 600px; }
.freshwidget-dialog iframe.iframeClose { animation: 0.15s ease-in-out 0s normal forwards 1 running iframe-animation-close; }
.freshwidget-dialog iframe.iframeResize { animation: 0.15s ease-in-out 0s normal forwards 1 running iframeResize-animation; }
.freshwidget-dialog .widget-close { display: block; position: absolute; left: -12px; top: 16px; width: 32px; height: 32px; background: rgb(109, 117, 116) none repeat scroll 0% 0%; cursor: pointer; color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(109, 117, 116) rgb(255, 255, 255) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 3px 0px 0px 3px; font-size: 26px; font-style: normal; font-weight: 600; line-height: 20px; font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; }
.widget-close::before { content: "×"; position: absolute; left: 9px; top: 4px; }
.mobile-widget-arrow, .mobile-widget-close { display: none; }
@media (max-width: 768px) {
  .responsive .mobile-widget-arrow-block, .responsive .mobile-widget-close { display: block; }
  .responsive .freshwidget-container, .responsive .widget-ovelay { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  .responsive .mobile-widget-arrow, .responsive .mobile-widget-close { position: fixed; top: 2%; font-size: 32px; color: rgb(0, 0, 0); font-weight: 700; margin: 0px; padding: 0px; left: 15px; z-index: 10; cursor: pointer; line-height: 15px; font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; }
  .responsive .freshwidget-dialog .widget-close, .responsive .mobile-widget-close-none { display: none; }
  .responsive .mobile-widget-arrow::before { content: "<"; }
  .responsive .mobile-widget-close::before { content: "×"; }
  .responsive .freshwidget-dialog { left: 0px; margin-left: 0px; top: 0px; }
  .responsive .freshwidget-dialog iframe { position: fixed; top: 0px; height: 100% ! important; width: 100%; }
}

/* ::::: null ::::: */

.MathJax_Hover_Frame { border-radius: 0.25em; box-shadow: 0px 0px 15px rgb(136, 51, 170); border: 1px solid rgb(170, 102, 221) ! important; display: inline-block; position: absolute; }
.MathJax_Menu_Button .MathJax_Hover_Arrow { position: absolute; cursor: pointer; display: inline-block; border: 2px solid rgb(170, 170, 170); border-radius: 4px; font-family: "Courier New",Courier; font-size: 9px; color: rgb(240, 240, 240); }
.MathJax_Menu_Button .MathJax_Hover_Arrow span { display: block; background-color: rgb(170, 170, 170); border: 1px solid; border-radius: 3px; line-height: 0; padding: 4px; }
.MathJax_Hover_Arrow:hover { color: white ! important; border: 2px solid rgb(204, 204, 204) ! important; }
.MathJax_Hover_Arrow:hover span { background-color: rgb(204, 204, 204) ! important; }

/* ::::: null ::::: */

#MathJax_About { position: fixed; left: 50%; width: auto; text-align: center; border: 3px outset; padding: 1em 2em; background-color: rgb(221, 221, 221); color: black; cursor: default; font-family: message-box; font-size: 120%; font-style: normal; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; word-wrap: normal; white-space: nowrap; float: none; z-index: 201; border-radius: 15px; box-shadow: 0px 10px 20px rgb(128, 128, 128); }
#MathJax_About.MathJax_MousePost { outline: medium none; }
.MathJax_Menu { position: absolute; background-color: white; color: black; width: auto; padding: 2px; border: 1px solid rgb(204, 204, 204); margin: 0px; cursor: default; font: menu; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; word-wrap: normal; white-space: nowrap; float: none; z-index: 201; box-shadow: 0px 10px 20px rgb(128, 128, 128); }
.MathJax_MenuItem { padding: 2px 2em; background: transparent none repeat scroll 0% 0%; }
.MathJax_MenuArrow { position: absolute; right: 0.5em; padding-top: 0.25em; color: rgb(102, 102, 102); font-size: 0.75em; }
.MathJax_MenuActive .MathJax_MenuArrow { color: white; }
.MathJax_MenuArrow.RTL { left: 0.5em; right: auto; }
.MathJax_MenuCheck { position: absolute; left: 0.7em; }
.MathJax_MenuCheck.RTL { right: 0.7em; left: auto; }
.MathJax_MenuRadioCheck { position: absolute; left: 1em; }
.MathJax_MenuRadioCheck.RTL { right: 1em; left: auto; }
.MathJax_MenuLabel { padding: 2px 2em 4px 1.33em; font-style: italic; }
.MathJax_MenuRule { border-top: 1px solid rgb(204, 204, 204); margin: 4px 1px 0px; }
.MathJax_MenuDisabled { color: graytext; }
.MathJax_MenuActive { background-color: highlight; color: highlighttext; }
.MathJax_MenuDisabled:focus, .MathJax_MenuLabel:focus { background-color: rgb(232, 232, 232); }
.MathJax_ContextMenu:focus { outline: medium none; }
.MathJax_ContextMenu .MathJax_MenuItem:focus { outline: medium none; }
#MathJax_AboutClose { top: 0.2em; right: 0.2em; }
.MathJax_Menu .MathJax_MenuClose { top: -10px; left: -10px; }
.MathJax_MenuClose { position: absolute; cursor: pointer; display: inline-block; border: 2px solid rgb(170, 170, 170); border-radius: 18px; font-family: "Courier New",Courier; font-size: 24px; color: rgb(240, 240, 240); }
.MathJax_MenuClose span { display: block; background-color: rgb(170, 170, 170); border: 1.5px solid; border-radius: 18px; line-height: 0; padding: 8px 0px 6px; }
.MathJax_MenuClose:hover { color: white ! important; border: 2px solid rgb(204, 204, 204) ! important; }
.MathJax_MenuClose:hover span { background-color: rgb(204, 204, 204) ! important; }
.MathJax_MenuClose:hover:focus { outline: medium none; }

/* ::::: null ::::: */

.MathJax_Preview .MJXf-math { color: inherit ! important; }

/* ::::: null ::::: */

.MJX_Assistive_MathML { position: absolute ! important; top: 0px; left: 0px; clip: rect(1px, 1px, 1px, 1px); padding: 1px 0px 0px ! important; border: 0px none ! important; height: 1px ! important; width: 1px ! important; overflow: hidden ! important; display: block ! important; -moz-user-select: none; }
.MJX_Assistive_MathML.MJX_Assistive_MathML_Block { width: 100% ! important; }

/* ::::: null ::::: */

#MathJax_Zoom { position: absolute; background-color: rgb(240, 240, 240); overflow: auto; display: block; z-index: 301; padding: 0.5em; border: 1px solid black; margin: 0px; font-weight: normal; font-style: normal; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; word-wrap: normal; white-space: nowrap; float: none; box-sizing: content-box; box-shadow: 5px 5px 15px rgb(170, 170, 170); }
#MathJax_ZoomOverlay { position: absolute; left: 0px; top: 0px; z-index: 300; display: inline-block; width: 100%; height: 100%; border: 0px none; padding: 0px; margin: 0px; background-color: white; opacity: 0; }
#MathJax_ZoomFrame { position: relative; display: inline-block; height: 0px; width: 0px; }
#MathJax_ZoomEventTrap { position: absolute; left: 0px; top: 0px; z-index: 302; display: inline-block; border: 0px none; padding: 0px; margin: 0px; background-color: white; opacity: 0; }

/* ::::: null ::::: */

.MathJax_Preview { color: rgb(136, 136, 136); }
#MathJax_Message { position: fixed; left: 1px; bottom: 2px; background-color: rgb(230, 230, 230); border: 1px solid rgb(149, 149, 149); margin: 0px; padding: 2px 8px; z-index: 102; color: black; font-size: 80%; width: auto; white-space: nowrap; }
#MathJax_MSIE_Frame { position: absolute; top: 0px; left: 0px; width: 0px; z-index: 101; border: 0px none; margin: 0px; padding: 0px; }
.MathJax_Error { color: rgb(204, 0, 0); font-style: italic; }

/* ::::: null ::::: */

.MJXp-script { font-size: 0.8em; }
.MJXp-right { transform-origin: right center 0px; }
.MJXp-bold { font-weight: bold; }
.MJXp-italic { font-style: italic; }
.MJXp-scr { font-family: MathJax_Script,"Times New Roman",Times,STIXGeneral,serif; }
.MJXp-frak { font-family: MathJax_Fraktur,"Times New Roman",Times,STIXGeneral,serif; }
.MJXp-sf { font-family: MathJax_SansSerif,"Times New Roman",Times,STIXGeneral,serif; }
.MJXp-cal { font-family: MathJax_Caligraphic,"Times New Roman",Times,STIXGeneral,serif; }
.MJXp-mono { font-family: MathJax_Typewriter,"Times New Roman",Times,STIXGeneral,serif; }
.MJXp-largeop { font-size: 150%; }
.MJXp-largeop.MJXp-int { vertical-align: -0.2em; }
.MJXp-math { display: inline-block; line-height: 1.2; text-indent: 0px; font-family: "Times New Roman",Times,STIXGeneral,serif; white-space: nowrap; border-collapse: collapse; }
.MJXp-display { display: block; text-align: center; margin: 1em 0px; }
.MJXp-math span { display: inline-block; }
.MJXp-box { display: block ! important; text-align: center; }
.MJXp-box::after { content: " "; }
.MJXp-rule { display: block ! important; margin-top: 0.1em; }
.MJXp-char { display: block ! important; }
.MJXp-mo { margin: 0px 0.15em; }
.MJXp-mfrac { margin: 0px 0.125em; vertical-align: 0.25em; }
.MJXp-denom { display: inline-table ! important; width: 100%; }
.MJXp-denom > * { display: table-row ! important; }
.MJXp-surd { vertical-align: top; }
.MJXp-surd > * { display: block ! important; }
.MJXp-script-box > * { display: table ! important; height: 50%; }
.MJXp-script-box > * > * { display: table-cell ! important; vertical-align: top; }
.MJXp-script-box > :last-child > * { vertical-align: bottom; }
.MJXp-script-box > * > * > * { display: block ! important; }
.MJXp-mphantom { visibility: hidden; }
.MJXp-munderover { display: inline-table ! important; }
.MJXp-over { display: inline-block ! important; text-align: center; }
.MJXp-over > * { display: block ! important; }
.MJXp-munderover > * { display: table-row ! important; }
.MJXp-mtable { vertical-align: 0.25em; margin: 0px 0.125em; }
.MJXp-mtable > * { display: inline-table ! important; vertical-align: middle; }
.MJXp-mtr { display: table-row ! important; }
.MJXp-mtd { display: table-cell ! important; text-align: center; padding: 0.5em 0px 0px 0.5em; }
.MJXp-mtr > .MJXp-mtd:first-child { padding-left: 0px; }
.MJXp-mtr:first-child > .MJXp-mtd { padding-top: 0px; }
.MJXp-mlabeledtr { display: table-row ! important; }
.MJXp-mlabeledtr > .MJXp-mtd:first-child { padding-left: 0px; }
.MJXp-mlabeledtr:first-child > .MJXp-mtd { padding-top: 0px; }
.MJXp-merror { background-color: rgb(255, 255, 136); color: rgb(204, 0, 0); border: 1px solid rgb(204, 0, 0); padding: 1px 3px; font-style: normal; font-size: 90%; }
.MJXp-scale0 { transform: scaleX(0); }
.MJXp-scale1 { transform: scaleX(0.1); }
.MJXp-scale2 { transform: scaleX(0.2); }
.MJXp-scale3 { transform: scaleX(0.3); }
.MJXp-scale4 { transform: scaleX(0.4); }
.MJXp-scale5 { transform: scaleX(0.5); }
.MJXp-scale6 { transform: scaleX(0.6); }
.MJXp-scale7 { transform: scaleX(0.7); }
.MJXp-scale8 { transform: scaleX(0.8); }
.MJXp-scale9 { transform: scaleX(0.9); }
.MathJax_PHTML .noError { font-size: 90%; text-align: left; color: black; padding: 1px 3px; border: 1px solid; }
